* {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0px auto;
    line-height: 1.8;
    background-color:azure;
}

.container {
    max-width: 1500px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

#slider{
    border-left: 2rem;
    border-top: 100px;
}

#slider, #dropdown{
  flex: 0 0 auto;
}

#slider svg{
  overflow: visible;
  width: auto;
  display: block;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

#vis svg{
    margin: 2rem 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    user-select: none;
}


